<h1>gigCreator</h1>

<p>A tool written in C++ for generating GIGA-Sampler files out of a bunch of wav-files</p>

<h2>Description</h2>

<p>gigCreator will create ready-to-play gig-files out of your wav-files collection. This is done by entering a pattern, selected files will be scanned against. These patterns will extract informations, such as gig-names or Instruments names, out of the filenames or -paths of the selected wav-files-directory. You can thereby create several gig-files containing multiple instruments.
A preview will show you, what will be created.
Some parameters my be changed in the options, more might be added.</p>

<h2>Features</h2>

<ul>
<li>scan and use information like e.g. midi-note-number from wav-files or enter them in the filename-scan-pattern</li>
<li>Define your own specifiers for all available gig-dimensions. E.g. velocity, pedal, random, etc
<ul><li>Define a 'translate-matrix' for translating found values into midi-values. E.g.: 'MezzoForte' -> 101</li></ul></li>
<li>multiple instruments per gig</li>
<li>Optionally expand ranges to fill gaps between samples (with minimal pitch-correction)</li>
<li>merge two mono-files into one stereo-sample (if the corresponding pattern-specifier is given)</li>
<li>Transpose midi-note-numbers found in filenames</li>
<li>samples are grouped by instruments in gig file</li>
<li>preview of gig-files to be created</li>
</ul>

<h2>Screenshot</h2>

<p><img src="gigCreator_screenshot.png" alt="screenshot" /> </p>

<h2>Installation</h2>

<p>gigCreator is developed on linux, Archlinux that is. Theoretically it should also work on windows or Mac, but since I don't own these operating systems, I cannot tell if it really is the case. I'd very much appreciate any input from those, kind and keen enough to try to compile it and let me know the outcome. I will help, if I can.</p>

<h3>Requirements</h3>

<ul>
<li>libgig <a href="https://linuxsampler.org/">(linuxsampler.org)</a></li>
<li>wxwidgets <a href="https://www.wxwidgets.org/">(wxwidgets.org)</a></li>
</ul>

<h3>Procedure</h3>

<ul>
<li><p>Clone the repository using\
<code>git clone &lt;https://gitlab.com/koljakoch/gigcreator.git&gt;</code>.</p></li>
<li><p><code>cd</code> into the source-directory and do the usual</p>

<p>  ./configure
  make
  [sudo] make install</p></li>
<li>start <code>gigCreator</code> from command-line.</li>
</ul>

<h2>Status</h2>

<ul>
<li>add start-menu item, currently start only via commandline: <code>gigCreator</code></li>
</ul>

<h2>Support</h2>

<p>Politely mail me at progATkoljakoch.de</p>
